body {
    background-color: #1A1414;
}
.wrapper{
    padding: 0 1rem;
}
.slider{
    max-width: clamp(35rem, 2vw, 45rem);
    margin: 0 auto;
    overflow: hidden;
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(1rem, 2vw, 2rem);
}
input[name = 'radio']{
    visibility: hidden;
    display: none;
}
img{
    width: 100%;
    border-radius: 3%;
    max-width: 100%;
    height: 100%;
}
.navigation {
    display: flex;
    justify-self: end;
    align-items: center;
}
.navigation__bar {
    width: clamp(1rem, 2.5vw, 1.5rem);
    height: clamp(1rem, 2.5vw, 1.5rem);
    display: block;
    border: 0.13em solid white;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
    margin-right: 0.6em;
    transition: all 0.3s ease;
}
.navigation__bar:hover{
    background-color: rebeccapurple;
}
.navigation__bar:active{
    background-color: white;
}
.slides{
    grid-column: 1 / 3;
    width: 400%;
    display: flex;
    align-items: center;
}
.slides__text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:1000%;
    height: 100%;
    display: flex;
    color: wheat;
    font-size: clamp(1rem, 3vw, 1.8rem);
}
.slide {
    border-radius: 3%;
    width: 25%;
    height: 100%;
    transition: all 0.2s ease;
}
#r1:checked ~ .navigation label[for="r1"] {
    background-color: rebeccapurple;
}
#r2:checked ~ .navigation label[for="r2"] {
    background-color: rebeccapurple;
}
#r3:checked ~ .navigation label[for="r3"] {
    background-color: rebeccapurple;
}
#r4:checked ~ .navigation label[for="r4"] {
    background-color: rebeccapurple;
}
#r1:checked ~ .slides__text .t1{
margin-left: 0;
}
#r2:checked ~ .slides__text .t1{
margin-left: -25%;
}
#r3:checked ~ .slides__text .t1{
margin-left: -50%;
}
#r4:checked ~ .slides__text .t1{
margin-left: -75%;
}
#r1:checked ~ .slides .s1{
margin-left: 0;
}
#r2:checked ~ .slides .s1{
margin-left: -25%;
}
#r3:checked ~ .slides .s1{
margin-left: -50%;
}
#r4:checked ~ .slides .s1{
margin-left: -75%;
}
